{% extends 'base.html' %}



{% block title %}О проекте{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html' %}
{% endblock %}

{% block content %}

<div class="container">
    <h1>О проекте</h1>
    <p>Наш блог создан для того, чтобы объединить геймеров со всего мира и создать платформу для обмена игровым опытом. Мы понимаем, что каждый игрок имеет свои уникальные истории, стратегии и моменты, которые делают игры незабываемыми.

<h4>Наша миссия</h4>
Наша цель — создать пространство, где игроки могут:

<li>Делиться своими игровыми достижениями и стратегиями.</li>
<li>Обсуждать новинки индустрии и делиться мнениями о популярных играх.</li>
<li>Находить поддержку и советы от других геймеров.</li><br>
Мы стремимся к тому, чтобы наш блог стал местом, где каждый сможет найти вдохновение и полезную информацию. Ваши истории важны для нас, и мы надеемся, что вы присоединитесь к нашему сообществу и внесете свой вклад!
</div>

{% endblock %}
