{% extends 'base.html' %}
{% load cache %}


{% block title %}Главная страница{% endblock %}

{% block content %}
{% cache 3600 index_page %}
<div class="container">
    <h1>Добро пожаловать на главную страницу нашего игрового блога!</h1>
    <p>Рады видеть вас на главной странице нашего проекта, где геймеры могут делиться своими уникальными игровыми опытами и находить единомышленников. Здесь вы сможете:</p>

    <li>Узнать о лучших стратегиях и тактиках в ваших любимых играх.</li>
    <li>Открыть для себя новые игры через истории и отзывы других игроков.</li>
    <li>Вдохновиться опытом сообщества и улучшить свои навыки.</li><br>
<p>Присоединяйтесь к нашему сообществу и делитесь своими историями! Мы верим, что каждый игровой опыт уникален, и ваш вклад может помочь другим игрокам на их пути. Не стесняйтесь оставлять комментарии и взаимодействовать с другими участниками!</p>
</div>
{% endcache %}
{% endblock %}